html,
body {
    height: auto;
    background-image: linear-gradient(rgb(28, 10, 46), black);
}

body {
    position: relative;
    font-family: 'Dosis', sans-serif;
    font-family: 'Play', sans-serif;
    color: white;
}

.modal-content {
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(33, 7, 48), rgb(0, 0, 0));
}

.cover-container {
    max-width: 31.5em;
}

.cover {
    padding: 200px 0;
}

.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}


img[alt~="profilePicture"] {
    border: 2px solid white;
}

img[alt~="playlistPicture"] {
    border: 2px solid white;
}